<li *ngFor="let item of items" [ngClass]="{completed: item.done, editing: item.isEditing}">
    <div class="view">
        <input class="toggle" type="checkbox" [(ngModel)]="item.done">
        <!--<label>{{ item.text }}</label>-->
        <!--<label>{{ item.text }} <span *ngIf="item.done">(完成)</span></label>-->
        <label (dblclick)="toggleItemEditing(item)">{{ item.text }} <span *ngIf="item.done">(完成)</span></label>
        <button class="destroy"></button>
    </div>
    <!--<input class="edit" [(ngModel)]="item.text">-->
    <input class="edit" [(ngModel)]="item.text" (keyup.enter)="confirmItemEditing(item)" (keyup.esc)="cancelItemEditing(item)">
</li>