/* You can add global styles to this file, and also import other style files */

.bg-blue {
    background-color: blue;
}

.bg-red[_ngcontent-c1] {
    color: white;
    background-color: greenyellow;
}